body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
}

/* underline header*/
header a {
  color: #fff;
  display: inline-block;
  position: relative;
}

header a:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header a:hover:after {
  width: 100%;
  left: 0;
}

.about-us img {
  border-radius: 70%;
}

.about-us p,
.prayer-section p,
.article p {
  text-align: justify;
  color: #0e162b;
}

.quran {
  background-size: cover;
}

.prayer-section .card:hover {
  color: white;
  background-color: #3b5998;
  cursor: pointer;
}

.article {
  transition: 2s;
  transition-timing-function: ease-in;
}

.recent-article img {
  height: 50%;
  cursor: pointer;
}

.recent-article img:hover {
  height: 55%;
  transition: 2s;
}

.arrow {
  color: #0e162b;
  margin: 1px 0;
  cursor: pointer;
}

.arrow::after {
  display: inline-block;
  padding-left: 8px;
  content: "\0279E";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.arrow:hover {
  color: #0e162b;
}

.arrow:hover::after {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}

.carousel-item .card {
  border: none;
  background-color: #0e162b;
  color: white;
}

#app {
  width: 300px;
  margin: 0px auto;
}

#app h3 {
  font-size: 1.1em;
  margin-bottom: 0px;
  padding: 0.3em;
  background: #0e162b;
  color: white;
  text-align: center;
}

#app table {
  border-collapse: collapse;
  width: 100%;
}

#app table td {
  font-size: 1em;
  padding: 0.5em;
}

#app table td:last-child {
  text-align: right;
}

#app table tr:nth-child(even) {
  background-color: #e8e8e8;
}

#app table tr:hover {
  background: #0e162b;
  color: white;
  cursor: pointer;
}

.icon {
  text-align: center;
  vertical-align: middle;
}

.fa {
  cursor: pointer;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #833ab4;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e162b;
}

footer {
  background-color: #0e162b;
  color: white;
}
